{% extends 'base.html.twig' %}
{% block header %}
<!-- Page Header -->
<header class="masthead" style=" height:100px; background-image: url('{{ asset('img/home-bg.jpg') }}')">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
      </div>
    </div>
  </div>
</header>
{% endblock %}
{% block content %}
          <section id="replyHolder" class="col-lg-8 col-md-10 mx-auto">
            <div class="titleBox">
              <label>Replies for {{ post.user.firstName }}'s comment - "{{ comment.body|length > 20 ? comment.body|slice(0, 20) ~ '...' : comment.body  }}"</label>
                <button type="button" class="close" aria-hidden="true">&times;</button>
            </div>
            {% for reply in replies %}
            <div class="replyBox">
               <div class="panel panel-default">
                  <div class="panel-heading">
                      <strong>{{ reply.user.firstName }}</strong> <span class="text-muted">replied on {{ reply.created | date('F jS, Y') }}</span>
                        {% if app.user and app.user.firstName == reply.user.firstName or app.user.firstName == reply.user.firstName %}
                         | <a href="#" class="text-muted sm-text" data-toggle="modal" data-target="#deleteReplyModal{{ reply.id }}">
                            Delete
                          </a>
                          | <span style="cursor: pointer;" class="text-muted sm-text" id="editReply_{{ reply.id }}">
                            Edit
                          </span>
                        {% endif %}

                  </div>
                  <div class="panel-body">
                      <p id="replyBody_{{reply.id}}">{{ reply.body }} </p>
                  </div>
                  <button type="button" style="display:none;" id="updateReply_{{reply.id}}" class="btn btn-default">Done</button>
                  <div class="panel-footer">
                      <span title="click here to reply to {{ reply.user.firstName }}" style="cursor: pointer;" class="sm-text" id="reply_{{ reply.id }}"><mark>Reply to {{ reply.user.firstName }}'s reply</mark></span>
                  </div>                  
              </div>
            </div>

      <!-- Delete reply Modal -->
    <div class="modal fade" id="deleteReplyModal{{ reply.id }}" role="dialog">
      <div class="modal-dialog modal-sm">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Delete?</h4>
          </div>
          <div class="modal-body">
            <p>Are you sure you want to delete "{{ reply.body|length > 20 ? reply.body|slice(0, 20) ~ '...' : reply.body  }}"?.</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <a class="btn btn-danger" href="{{ path('delete_reply', {'id': reply.id } ) }}">Go ahead</a>
          </div>
        </div>
      </div>
    </div>

          {% endfor %}
          </section>
{% endblock %}