{% extends 'base.html.twig' %}
    {% block header %}
    <!-- Page Header -->
    <header class="masthead" style="background-image: url('{{ asset('img/post-bg.jpg') }}')">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="post-heading">
              <h1>{{ post.title }}</h1>
              <h2 class="subheading">__________________________</h2>
              <span class="meta">Posted by
                <a href="#"> {{ post.user.FirstName|capitalize }}</a>
                on {{ post.created|date('F j o') }}
              </span>
               <br /><br />
              {% if app.user %}
                <button type="button" class="btn btn-outline btn-primary btn-lg" data-toggle="modal" data-target="#myModal">Create Post</button>
              {% endif %}

            </div>
          </div>
        </div>
      </div>
    </header>
    {% endblock %}

{% block content %}
    <!-- Post Content -->
    {{ include('templates/createModal.html.twig') }}       
{% endblock %}
{% block javascripts %}
  <script>
      $(document).ready(function() {
          $('#createModal').modal('show');
      });
  </script>
{% endblock %}